@model PROYECTOISW.Models.ViewModels.RCViewModels.ValidarCorreoViewModel

        <h1 class="text-center" style="color: black;">Recuperación de Contraseña</h1>
        <form asp-action="ValidarCorreo" asp-controller="Rc" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-4">
                <label asp-for="Correo" class="form-label" style="color: black;">Correo Electrónico</label>
                <input asp-for="Correo" class="form-control" placeholder="Ingresar Correo Electrónico" type="email" style="border-color: #28a745;" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="mb-4 text-center">
                <button type="submit" class="btn" style="background-color: #28a745; color: white; border: none;">Enviar Código</button>
            </div>

            <!-- Mensaje de error -->
            @if (!string.IsNullOrEmpty(ViewBag.Invalido))
            {
                <div class="alert alert-danger mt-3" role="alert">
                    @ViewBag.Invalido
                </div>
            }
        </form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}