@model List<Reseña>

<h1>Comentarios</h1>

@foreach (var r in Model)
{
    <h1>Nombre del alumno: @r.IdUsuarioNavigation.NombreCompleto</h1>
    <h1>
        @for (int i = 0; i < 5; i++)
        {
            if (i < r.Calificacion)
            {
                <span class="text-warning">&#9733;</span> <!-- Estrella amarilla -->
            }
            else
            {
                <span class="text-secondary">&#9733;</span> <!-- Estrella gris -->
            }
        }
    </h1>
    <h1>@r.Comentario</h1>
}
